<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CopyImage',
  props: {
    data: {
      type: Object,
      required: true,
    },
    reverse: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
});
</script>

<template>
  <div :class="`container ${reverse && 'reverse'}`">
    <div class="copy">
      <SlpTypography
        v-if="data.header"
        tag="h3"
        variant="heading3"
        class="header"
        >{{ data.header }}</SlpTypography
      >
      <SlpTypography v-if="data.subtitle" tag="h4" variant="heading5">{{
        data.subtitle
      }}</SlpTypography>
      <div class="copy__body">
        <div style="margin-bottom: 24px" v-html="$md.render(data.text)"></div>
        <slp-button :href="data.link_href">{{ data.link_text }}</slp-button>
      </div>
    </div>
    <div class="image-container">
      <nuxt-img
        class="image"
        :src="data.image"
        :alt="data.image_alt_text"
        loading="lazy"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 100%;
  position: relative;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 144px;
    max-width: 1140px;
  }

  &.reverse {
    grid-auto-flow: column;
    @media (min-width: $breakpoint-lg) {
      .copy {
        grid-column: 6 / 11;
      }

      .image {
        grid-column: 1 /6;
      }
    }
  }
}

.header {
  color: #333;
  margin-bottom: 16px;
  @media (min-width: $breakpoint-lg) {
    font-size: 45px;
  }
}

.copy {
  grid-column: 1 / -1;
  margin-bottom: 32px;
  @media (min-width: $breakpoint-lg) {
    grid-column: 1 / 6;
    margin-bottom: 64px;
  }

  h4 {
    color: #333;
    margin-bottom: 16px;

    @media (min-width: $breakpoint-lg) {
      font-size: 23px;
    }
  }
}

.copy__body {
  grid-column: span / span 4;
  color: #333;
}

.copy__body::v-deep p {
  margin-bottom: 1em;
}
.copy__body::v-deep p a {
  color: #7d2bd9;
}

.image-container {
  grid-column: 1 / -1;

  .image {
    width: 100%;
  }

  @media (min-width: $breakpoint-lg) {
    grid-column: 6 / 11;
  }
}
</style>
