<script lang="ts">
import Vue from 'vue';
import LaunchDarkly from '../common/launch-darkly.vue';
import SlpSearchBar from './search-bar.vue';

export default Vue.extend({
  name: 'SlpNavigationHOC',
  components: {
    SlpSearchBar,
    LaunchDarkly,
  },
  data() {
    return {
      searchVisible: false,
    };
  },
  mounted() {
    document.addEventListener('searchClick', this.toggleDesktopSearch);

    window.addEventListener('load', () => {
      const freeTrialButton = document.querySelector(
        '.navigation-bottom-right [data-nav="free trial"]',
      );
      freeTrialButton.addEventListener('click', this.clickedFreeTrial);
    });
  },
  methods: {
    closeDesktopSearch() {
      this.searchVisible = false;
    },
    toggleDesktopSearch() {
      this.searchVisible = !this.searchVisible;
      if (this.searchVisible) {
        this.sendFocusToSearch();
      }
    },
    openDesktopSearch() {
      this.searchVisible = true;
      this.sendFocusToSearch();
    },
    sendFocusToSearch() {
      const searchBarReference = this.$refs.searchBar as any;
      setTimeout(() => {
        searchBarReference?.$refs.searchInput.focus();
      }, 350);
    },
    clickedFreeTrial() {
      this.$refs.launchDarkly.fireCustomEvent('clicked-free-trial-nav');
    },
  },
});
</script>

<template>
  <div class="nav-hoc">
    <LaunchDarkly ref="launchDarkly" feature-flag="navigation-register">
      <!-- login/register button -->
      <template #control>
        <SlpNavigation />
      </template>
      <!-- register button in support dropdown -->
      <template #experiment>
        <SlpNavigationB />
      </template>
    </LaunchDarkly>

    <slp-search-bar
      v-show="searchVisible"
      ref="searchBar"
      :on-close="closeDesktopSearch"
    />
  </div>
</template>

<style lang="scss">
.nav-hoc {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1025;
}
</style>
