<script>
import Vue from 'vue';
import GradientLineBlock from './gradient-line-block.vue';
import FeatureItemCard from './feature-item-card.vue';

export default Vue.extend({
  name: 'FeaturesBlock',
  components: {
    GradientLineBlock,
    FeatureItemCard,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  computed: {
    titleTag() {
      return this.data.header.subtitle ? 'h4' : 'h3';
    },
    itemTitleTag() {
      return this.data.header.subtitle ? 'h5' : 'h4';
    },
  },
});
</script>

<template>
  <section :id="data.id" class="features-block">
    <GradientLineBlock :data="data.header">
      <SlpRow
        v-for="(feature, featureIndex) in data.content"
        :id="feature.id"
        :key="featureIndex"
        class="features-block__content"
      >
        <SlpTypography
          v-if="feature.text || feature.feature || feature.link"
          :tag="titleTag"
          variant="heading4 slp-mb-32"
          class="description"
        >
          <SlpTypography
            v-if="feature.feature"
            tag="span"
            variant="heading4-bold"
            >{{ feature.feature }}</SlpTypography
          >
          <span v-if="feature.text">
            {{ feature.text }}
          </span>
          <SlpLink
            v-if="feature.link"
            :href="feature.link.url"
            :data-ga-name="feature.link.data_ga_name"
            :data-ga-location="feature.link.data_ga_location"
          >
            {{ feature.link.text }}
          </SlpLink>
        </SlpTypography>
        <SlpRow class="features-block__card-container">
          <SlpColumn
            v-for="(item, itemIndex) in feature.items"
            :key="itemIndex"
            class="features-block__card slp-mb-48"
          >
            <FeatureItemCard :data="item" :title-tag="itemTitleTag" />
          </SlpColumn>
        </SlpRow>
      </SlpRow>
    </GradientLineBlock>
  </section>
</template>

<style lang="scss" scoped>
.features-block {
  &__content {
    flex-direction: column;
  }

  &__card-container {
    align-items: flex-start;
    justify-content: space-between;
  }

  &__card {
    width: 100%;
    max-width: 350px;

    @media (min-width: 970px) {
      width: 350px;
      min-width: 350px;
    }
  }
}
</style>
